<div class="container">
  <h2>Todo</h2>
  <div class="box">
    <form [formGroup]="TodoFormData">
      <div class="form-control formcontaier" style="margin-bottom: 10px">
        <div>
          <label>Todo Name:</label>
          <input
            class="form-control input"
            (ngModelChange)="todoName = $event"
            type="text"
            name="todoName"
            value="{{ todoName }}"
            formControlName="todoName"
          />
          <div
            *ngIf="
              TodoFormData.get('todoName')?.invalid &&
              TodoFormData.get('todoName')?.touched
            "
          >
            <div style="color: red;"
              *ngIf="TodoFormData.get('todoName')?.errors?.['required']"
            >
            Todo Name required
            </div>
          </div>
        </div>
        <div style="margin-bottom: 10px">
          <label>Todo Description:</label>
          <input
            class="form-control input"
            (ngModelChange)="tododescription = $event"
            type="text"
            name="tododescription"
            value="{{ tododescription }}"
            formControlName="tododescription"
          />
          <div
            *ngIf="
              TodoFormData.get('tododescription')?.invalid &&
              TodoFormData.get('tododescription')?.touched
            "
          >
            <div style="color: red;"
              *ngIf="TodoFormData.get('tododescription')?.errors?.['required']"
            >
              Description required
            </div>
          </div>
        </div>
        <div
          class="form-check form-switch"
          style="padding: 0px; margin-bottom: 10px"
        >
          <label>Completed:</label>
          <input
            class="form-check-input checkbox"
            style="margin-left: 20px"
            type="checkbox"
            role="switch"
            name="todoisDone"
            (ngModelChange)="todoisDone = $event"
            value="{{ todoisDone }}"
            formControlName="todoisDone"
          />
        </div>
        <br />
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit(todoName, tododescription, todoisDone)"
        >
          Add Todo
        </button>
      </div>
    </form>
  </div>
  <div class="tablecontainer">
    <div *ngIf="TodoList.length === 0; else elseBlock">add todo</div>
    <ng-template #elseBlock>
      <div class="table">
        <table class="table">
          <thead>
            <tr>
              <td>Id</td>
              <td>Todo Name</td>
              <td>Todo Description</td>
              <td>Todo is Done</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody *ngFor="let Todo of TodoList; index as i" class="listyle">
            <tr>
              <ng-container
                *ngIf="editMode && Todo.id === editId; else elseBlock"
              >
                <td>{{ i + 1 }}</td>
                <td>
                  <input
                    class="form-control editinput"
                    type="text"
                    [(ngModel)]="editTodoName"
                  />
                </td>
                <td>
                  <textarea
                    class="form-control editinput"
                    type="text"
                    placeholder="add description"
                    [(ngModel)]="editdescription"
                  >
                  </textarea>
                </td>
                <td class="form-check form-switch">
                  <input
                    class="form-check-input checkbox"
                    type="checkbox"
                    role="switch"
                    name="todoisDone"
                    [(ngModel)]="editisDone"
                  />
                </td>
                <td>
                  <div>
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      (click)="
                        update({
                          id: Todo.id,
                          TodoName: editTodoName,
                          description: editdescription,
                          isDone: editisDone
                        })
                      "
                    >
                      edit
                    </button>

                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="discart(Todo, editId)"
                    >
                      discart
                    </button>
                  </div>
                </td>
              </ng-container>
              <ng-template #elseBlock>
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ Todo.TodoName }}
                </td>
                <td *ngIf="Todo.description; else elseBlock">
                  {{ Todo.description }}
                </td>
                <ng-template #elseBlock>
                  <td>no Description</td>
                </ng-template>
                <td>
                  <ng-container *ngIf="Todo.isDone; else elsepart">
                    Done</ng-container
                  >
                  <ng-template #elsepart> Not Completed </ng-template>
                </td>

                <td>
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    (click)="updateMode(Todo)"
                  >
                    edit
                  </button>

                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="delete(Todo)"
                  >
                    delete
                  </button>
                </td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
    <!-- <ngb-pagination [collectionSize]="70" [(page)]="pagination.page" [boundaryLinks]="true" /> -->
  </div>
  <span *ngIf="TodoList.length >= 0; else elsepart"></span>
  <ng-template #elsepart> </ng-template>
</div>
